# Docker Compose
DB_NAME=mydata_card
DB_USERNAME=mydata_app
DB_PASSWORD=replace-with-local-password
MYSQL_ROOT_PASSWORD=replace-with-local-root-password
MYSQL_PORT=3307

# Spring Boot
DB_URL='jdbc:mysql://127.0.0.1:3307/mydata_card?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Seoul'
